<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>管理员/Admin</title>
    <link href="static/css/index.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css" rel="stylesheet">
</head>

<body>
<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-shift=".shifted-content-2"
       data-static="md"
       data-static-shift=".shifted-content-2"
       data-toggle="#sidebar-toggle-4"
       id="sb4">
    <div class="sidebar-header" data-image="https://metroui.org.ua/images/sb-bg-1.jpg">
        <!--
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        -->
        <span class="title fg-white">Adofai Mod Manager</span>
        <span class="subtitle fg-white"> 2023 © MCommander</span>
    </div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('index') }}"><span class="mif-home icon"></span>主页/Home</a></li>
        <li><a href="{{ url_for('list') }}"><span class="mif-books icon"></span>模组列表/List</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('admin') }}"><span class="mif-images icon"></span>管理/Admin</a></li>
        <li><a href="https://docs.amodm.eu.org"><span class="mif-images icon"></span>文档/docs</a></li>
    </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>

    <div class="h-100 p-4">
        <h1>管理员页面/Admin Page:</h1>
        <form method="POST">
            <div class="form-group">
            <select name="data_action_select" data-role="select">
                <option name="c">创建</option>
                <option name="f">修改</option>
                <option name="d">删除</option>
            </select>
            </div>
            <div class="form-group">
            <input name="data_id" type="text" data-role="input" class="metro-input" placeholder="输入模组ID"/>
                <small class="text-muted">模组ID(当创建时不可用)</small>

            <input name="data_name" type="text" data-role="input" class="metro-input" placeholder="输入名字"/>
                <small class="text-muted">模组名字</small>

            <input name="data_author" type="text" data-role="input" class="metro-input" placeholder="输入作者"/>
                <small class="text-muted">模组作者</small>

            <input name="data_download_num" type="text" data-role="input" class="metro-input" placeholder="输入模组下载数量"/>
                <small class="text-muted">模组下载数量</small>

            <input name="data_download_url" type="text" data-role="input" class="metro-input" placeholder="输入模组下载链接"/>
                <small class="text-muted">模组下载链接</small>

            <input name="data_description" type="text" data-role="input" class="metro-input" placeholder="输入模组简介"/>
                <small class="text-muted">模组简介</small>

            <input name="data_latest_version" type="text" data-role="input" class="metro-input" placeholder="输入模组最新版本"/>
                <small class="text-muted">模组最新版本</small>
            </div>
            <div class="form-group">
            <input type="submit" class="button" value="提交">
                <a href="../"><input type="button" class="button" value="取消"></a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>