<!DOCTYPE html>
<html lang="en">

<head>
    <!--开始-->
    <meta charset="utf-8" />
    <!--设置编码方式-->
    <title>Adofai Mod Manager</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-rtl.min.css">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css">
    <!--网页名称-->
</head>
<!--结束-->


<body>
    <!--显示内容-->
    <div class="container">
        <header>
            <div>
                <h1>ADOFAI MOD MANAGER</h1>
            </div>
        </header>
        <main>
            <p>冰与火之舞模组管理器</p>
        </main>
    </div>
    <a href="./list"><button class="button primary outline large rounded shadowed d-flex p-2">列表</button></a>
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>