<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录/Login</title>
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-colors.min.css" rel="stylesheet">
    <link href="https://cdn.korzh.com/metroui/v4/css/metro-icons.min.css" rel="stylesheet">
</head>

<body>
<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-shift=".shifted-content-2"
       data-static="md"
       data-static-shift=".shifted-content-2"
       data-toggle="#sidebar-toggle-4"
       id="sb4">
    <div class="sidebar-header" data-image="https://metroui.org.ua/images/sb-bg-1.jpg">
        <!--
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        -->
        <span class="title fg-white">Adofai Mod Manager</span>
        <span class="subtitle fg-white"> 2023 © MCommander</span>
    </div>
    <ul class="sidebar-menu">
        <li><a href="{{ url_for('index') }}"><span class="mif-home icon"></span>主页/Home</a></li>
        <li><a href="{{ url_for('list') }}"><span class="mif-books icon"></span>模组列表/List</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('admin') }}"><span class="mif-images icon"></span>管理/Admin</a></li>
    </ul>
</aside>
<div class="shifted-content-2 h-100 p-ab">
    <div class="appbar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-4">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>

    <div class="h-100 p-4">
        {% if error %}
        <script type="text/javascript">
            alert("{{ error }}")
        </script>
        {% endif %}
        <div id="loading_box">
            <li><span class="mif-spinner3 ani-spin"></span>Loading...</li>
        </div>
        <form id="f_form" method="POST">
            <input class="metro-input" name="password" placeholder="密码" type="password">
            <small class="text-muted">我们会使用SSL来加密您的数据传输</small>
            <button class="button"><input id="btn" type="submit" value="登录"></button>
        </form>
    </div>
    <script type="text/javascript">
        var t1 = document.getElementById('loading_box');
        var t2 = document.getElementById('f_form')
        t1.style.visibility = 'hidden';	// 隐藏元素
        t2.style.visibility = 'visible';	// 显示元素

        var btn = document.getElementById("btn");
        btn.onclick = function () {
            t1.style.visibility = 'visible';	// 显示元素
            t2.style.visibility = 'hidden';	// 隐藏元素
        }
    </script>
</div>
</div>

<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>

</html>